@model IEnumerable<iTutor.Models.tutor_register>

@{
    ViewBag.Title = "Tutor_Entry";
    Layout = "~/Views/Admin.cshtml";
}


<div class="wrapper">
   
        <div class="card">
            <center>
                <div class="card-header">
                    <h3 class="card-title">Tutor Register Entry</h3>
                </div>
            </center>

            <div class="card-body">
                <table class="table table-bordered">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.firstname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.lastname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dob)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.state)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.city)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.qualification)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.experience)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.password)
                        </th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lastname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.state)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city)
                            </td>
                            <td>
                                <textarea cols="20" rows="3" readonly> @Html.DisplayFor(modelItem => item.address)</textarea>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.qualification)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.experience)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.password)
                            </td>
                            <td>
                               
                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                                <button class="brn btn-danger">@Html.ActionLink("Delete", "deletetutor", new { id = item.id }, new {@class="brn btn-danger"})</button>
                            </td>
                        </tr>
                    }

                </table>
            </div>
            </div>
            </div>
